* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.contentor {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(100px, 200px) 3fr;
    grid-template-rows: 1fr 3fr;
}

.cabecalho {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.pesquisa-controlo {
    grid-row: 1;
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 10px;
}

.pesquisa {
    display: flex;
    gap: 10px;
    align-items: center;
}

.lupa .barra-pesquisa {
    grid-column: 1;
}

.barra-pesquisa {
    display: flex;
}

#pesquisa {
    background-color: #DFE5ED;
    border-radius: 8px;
    flex: 1;
    border: none;
}

.controlo {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
}

#icon-user {
    height: 25px;
}

#nome-user{
    font-weight: bold;
}

.mensagem {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 10px;
}

#conteudo-mensagem {
    grid-column: 1;
    display: flex;
    gap: 10px;
}

#img-mensagem {
    height: 40px;
}

#texto-mensagem>span {
    font-size: 0.7em;
    font-weight: bold;
}

#texto-mensagem>p {
    font-weight: bold;
}

.botoes {
    grid-column: 2/3;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
}

.botao>button {
    background-color: #a2d4f2;
    padding: 5px 18px; 
    width: 80px;
    color: white;
    border: none;
    border-radius: 15px;
    font-weight: bold;
}


.barra-lateral {
    grid-row: 1 / span 2 ;
    display: grid;
    grid-template-rows: repeat(13, minmax(10px, 30px));
    font-weight: bold;
    padding: 10px;
    gap: 10px;
    background-color: #a2d4f2;
}

#titulo-barra-lateral {
    display: flex;
    gap: 15px;
    align-items: center;
}

#icon-dashboard {
    height: 2.5em;
}

#titulo-barra-lateral > span {
    font-size: 1.2em;
}

.icon-item {
    height: 20px;
}

.item-barra-lateral {
    display: flex;
    gap: 10px;
    align-items: center;
}

.conteudo {
    background-color: #DFE5ED;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.conteudo-principal {
    grid-column: 1;
    border: 1px solid red;;
}

.cartoes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 20px;
    padding: 10px;
}

.cartao {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: -4px 0px orange;
}

.titulo-cartao {
    font-weight: bold;
    font-size: 0.9em;
}

.texto-cartao {
    font-size: 0.7em;
    color: #6E6E6E;
}

.bloco-direito {
    border: 1px solid blue;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.anuncios {
    border: 1px solid yellow;
}

.tendencias {
    border: 1px solid orange;
}
